* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 16px; }
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: #333333; }
::-webkit-scrollbar-thumb {
  background: #575757;
  background-clip: padding-box;
  border: 3px solid transparent; }
::-webkit-scrollbar-thumb:hover {
  background: #575757; }
::-webkit-scrollbar-thumb:active {
  background-color: #636363; }
::-webkit-scrollbar-button:single-button {
  background-color: #333333;
  display: block;
  background-size: 10px;
  background-repeat: no-repeat; }
::-webkit-scrollbar-button:single-button:active {
  background-color: #575757; }
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>"); }
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>"); }
::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>"); }
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>"); }
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>"); }
::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>"); }
/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  height: 12px;
  width: 12px;
  background-position: 3px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,50 50,100 50,0'/></svg>"); }
::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,50 50,100 50,0'/></svg>"); }
::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>"); }
/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
  height: 12px;
  width: 12px;
  background-position: 3px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 0,100 50,50'/></svg>"); }
::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 0,100 50,50'/></svg>"); }
::-webkit-scrollbar-button:single-button:horizontal:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>"); }



::selection {
  color: #2d2d2d;
  background: #f4f4f4; }

.errorPage {
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%)
}

.errorQuestion{
  color: #8d8b8b;
  position: relative;
  top: 5.5vh;
  font-size: 41.7rem;
  transform: rotate(-30deg);
  opacity: 0.25;
  z-index: 2;
}

.errorWarper {
  position: relative;
  top: -6.5vh;
}

.errorLine1 {
  position: absolute;
  color: #212529;
  font-size: 15rem;
  font-weight: 800;
  top: 18vh;
  right: 4rem;
}
.errorLine2 {
  position: absolute;
  color: #8d8b8b;
  font-size: 7rem;
  font-weight: 800;
  top: 22rem;
  right: 0;
  opacity: 0.1;
}

.errorLine3 {
  position: absolute;
  color: #888888;
  font-size: 3rem;
  font-weight: 800;
  top: 30rem;
  right: 3rem;
  opacity: 0.8;
}

.errorLine4 {
  position: absolute;
  color: #141518;
  font-size: 3rem;
  font-weight: 500;
  top: 35rem;
  right: 2rem;
  z-index: 1;
}

body {
  background-color: #2d2d2d;
  color: #f4f4f4;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 400;
}

.lineStrike {
  color: #6c757d;
  text-decoration: line-through
}

.home-background::before {
  content: '';
  position: absolute;
  background-image: url(./components/images/multiple_posters.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
}

.homeTitle {
  color: #212529;
  font-size: 5rem;
  font-weight: 700;
  -webkit-text-stroke: 0.05rem #f4f4f4;
}

.form-control {
  color: #f4f4f4;
  background-color: #2d2d2d;
  border-color: #6c757d;

}

.form-control:focus {
  background-color: #2d2d2d;
  color: #f4f4f4;
  border-color: #6c757d;
  /* box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%); */
  box-shadow: 0 0 0 0.25rem rgb(108 117 125 / 25%);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 0.8rem;
  width: 0.8rem;
  cursor: pointer;
  background-image: url(./components/images/grey_close_x.svg);
}

.hero-container {
  position: relative;
  height: 12.5vh;
  z-index: 100;
}

.hero-container2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65vh;
  z-index: 100;
}

.hero-text {
  position: relative;
  z-index: 200;
}

.hero-line1 {
  position: absolute;
  top: 23.75vh;
  /* bottom: 6.5rem; */
  text-shadow: 2px 2px 4px #000000;
  z-index: 200;
}

.hero-line2 {
  position: absolute;
  top: 29.25vh;
  /* bottom: 4.5rem; */
  text-shadow: 2px 2px 4px #000000;
  z-index: 200;
}

.hero-line3 {
  position: absolute;
  bottom: 1.75rem;
  text-shadow: 2px 2px 4px #000000;
  z-index: 200;
}

.hero-line4 {
  position: absolute;
  bottom: 0rem;
  text-shadow: 2px 2px 4px #000000;
  z-index: 200;
}

.hero-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  opacity: 0.6;
}

.row {
  --bs-gutter-x: 3rem;
  margin-top: 4vh;
}

.input-group {
  width: 25%
}

.dropdown-menu.show {
  color: #f4f4f4;
  background-color: #2d2d2d;
  border: 1px solid #6c757d;
}

.dropdown-item {
  color: #f4f4f4;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #1e2125;
  background-color: #e9ecef;
}







.centerBtn {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  width: 100%;
  justify-content: center;
}

.leftColumn {

  /* z-index: 200; */
}

.missingPosterSm {
  display: flex;
  flex-direction: column;
  color: #212529;
  background-color: #a3a3a3;
  font-size: 2.125rem;
  font-weight: 700;
  height: 25.625rem;
  justify-content: center;
  align-items: center;
}

.missingPosterLg {
  display: flex;
  flex-direction: column;
  color: #212529;
  background-color: #a3a3a3;
  font-size: 3.125rem;
  font-weight: 700;
  height: 36.5rem;
  justify-content: center;
  align-items: center;
}

.movie-poster {
  position: sticky;
  top: 8rem;
  width: 92%;
  z-index: 300;
}

.underPoster {
  position: sticky;
  top: 43rem;
  left: 0;
  width: 92%;
  z-index: 500;
}

.underLine1 {
  display: flex;
  flex-direction: row;
  padding: 0.125rem;
  font-size: 1.125rem;
  margin: 0.2rem 0;
  justify-content: space-between;
}

.lang {
  background-color: #212529;
  color: #f4f4f4;
  border: 0.1rem solid #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.125rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  font-weight: 300;
}

.underLine2 {
  display: flex;
  flex-direction: row;
  padding: 0.125rem;
  font-size: 1.125rem;
  margin: 0.2rem 0;
  justify-content: space-between;
}

.genreContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.2rem;
}

.genres {
  padding: 0.1rem 0.5rem;
  margin: 0 0.4rem 0.4rem 0;
  background-color: #212529;
  border: 0.1rem solid #f4f4f4;
  border-radius: 0.3rem;
}

.G {
  background-color: #212529;
  color: #a0cb55;
  border: 0.125rem solid #a0cb55;
  border-radius: 0.2rem;
  padding: 0.125rem;
  line-height: 1.125rem;
  font-weight: 500;
}

.PG {
  background-color: #212529;
  color: #00a7ee;
  border: 0.125rem solid #00a7ee;
  border-radius: 0.2rem;
  padding: 0.125rem;
  line-height: 1.125rem;
  font-weight: 500;
}

.PG-13 {
  background-color: #212529;
  color: #b949d5;
  border: 0.125rem solid #b949d5;
  border-radius: 0.2rem;
  padding: 0.125rem;
  line-height: 1.125rem;
  font-weight: 500;
}

.R {
  background-color: #212529;
  color: #ff8f17;
  border: 0.125rem solid #ff8f17;
  border-radius: 0.2rem;
  padding: 0.125rem;
  line-height: 1.125rem;
  font-weight: 500;
}

.NC-17 {
  background-color: #212529;
  color: #ec4411;
  border: 0.125rem solid #ec4411;
  border-radius: 0.2rem;
  padding: 0.125rem;
  line-height: 1.125rem;
  font-weight: 500;
}

.NR {
  background-color: #212529;
  color: #8d8b8c;
  border: 0.125rem solid #8d8b8c;
  border-radius: 0.2rem;
  padding: 0.125rem;
  line-height: 1.125rem;
  font-weight: 500;
}

.movie-details {
  position: relative;
  top: 9.6vh;
  z-index: 200;
}

.details {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(33 37 41 / 80%);
}

.player-wrapper {
  position: relative;
  height: auto;
  /* padding-top: 28.125%;  Player ratio: 50 / (1280 / 720) */
  /* padding-top: 35.15325%;  Player ratio: 100 / (1280 / 720) */
   padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%)
}

.castMembersTitle {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.castMembers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 110%;
}

.charWrapper0 {
  display: flex;
  flex-direction: column;
  background-color: #888888;
  width: 11.3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.charWrapper1 {
  display: flex;
  flex-direction: column;
  background-color: #ef6491;
  width: 11.3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.charWrapper2 {
  display: flex;
  flex-direction: column;
  background-color: #326497;
  width: 11.3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.charPic {
  display: flex;
  padding: 0.05rem;
  width: 100%;
  height: auto;
}

.charPic img {
  width: 100%;
  height: auto;
}

.charName {
  font-weight: 600;
  color: #f4f4f4;
}

.charRealName {
  font-weight: 600;
  color: #212529;
}

.testPage {
  height: 400vh;
}
